# JavaScript / TypeScript / etc.
snippet clog "console.log"
console.log("${1:debugVal}:", ${2:value})
endsnippet

snippet trycatch "try catch block"
try {
  ${1:tryBlock}
} catch (err) {
  ${2:catchBlock}
}
endsnippet
