[G0]
timername=1 min
time=60
timercommand=
timerinfo=1m 0s
is_countdown=true

[G1]
timername=2 min
time=120
timercommand=
timerinfo=2m 0s
is_countdown=true

[G2]
timername=3 min
time=180
timercommand=
timerinfo=3m 0s
is_countdown=true

[others]
nowin_if_alarm=false
selecting_starts=false
use_global_command=false
global_command=
repeat_alarm=false
repetitions=1
repeat_interval=10

