[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sglavoie/Desktop/UoL]
row=1
col=0

[/home/sglavoie/Desktop/Chrome Beta Meetings.desktop]
row=2
col=0

[/home/sglavoie/Desktop/datopian_docs]
row=0
col=0

